APP_PORT = 4080
APP_CORS_ORIGIN = 1,2,3,4
APP_URL = http://localhost:${APP_PORT}

APP_SPA_MAIL = 
APP_SPA_PASSWORD = 

TYPEORM_HOST = 127.0.0.1
TYPEORM_PORT = 3306
TYPEORM_DATABASE = db_shadow_company
TYPEORM_USERNAME = root
TYPEORM_PASSWORD = root

AES_JS_KEY = 1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

JWT_EXPIRED_IN = 
JWT_SECRET_KEY = 